.col-md-7 {
    margin: 0px 10%;
    width: auto !important;
}

@media (min-width: 768px){
    .col-md-7 {
        width: 30% !important;
    }
}

.featurette-heading {
    margin-bottom: 20px !important;
}

.button {
    text-align: center;
}